body  {
    padding: 10em 15em 10em 15em;
    background-color: coral;
    color: black;
    text-align: center;
}

h1{
    text-align: center;
    padding-bottom: 10px;
}

#board  {
padding-top: 2em;

}
button{
    text-align: center;
    margin-top: 1em;
    margin-bottom: 2em;
}

.row > div{
    float: left;
    width: 100px;
    height: 100px;
  
}


.row   {
margin: 0 auto;
width: 302px;
clear: none;
font-size: 4em;
}


.top    {
border-bottom: 1px solid black;
cursor: pointer;
}

.bottom {
border-top: 1px solid black;
cursor: pointer;
}

.left   {
border-right: 1px solid black;
cursor: pointer;
}

.right  {
border-left: 1px solid black;
cursor: pointer;
}